<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Course Service</title>
</head>
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
<body>

	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/courses/index}"> Home</a>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav me-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button"
							data-bs-toggle="dropdown"> Courses </a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown -item" th:href="@{/courses/index}">
									Search </a>
							</li>
							<li>
								<a class="dropdown -item" th:href="@{/courses/formCreate}">
									New Course </a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button"
							data-bs-toggle="dropdown"> Instructors </a>
						<ul class="dropdown-menu">

							<li>
								<a class="dropdown -item" th:href="@{/instructors/index}">
									Search </a>
							</li>
						</ul>

					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container mt-3">
		<div class="card">
			<div class="card-header">Hello, There are your current
				subscriptions :</div>

			<div class="card-body">
				<table class="table">
					<thead>

						<tr class="text-center">
							<th>Course Id</th>
							<th>Course Name</th>
							<th>Course Duration</th>
							<th>Course Description</th>
							<th>Instructor</th>


						</tr>
					<thead>
					<tbody>
						<tr class="text-center" th:each="course : ${listCourses}">
							<td th:text="${course.getCourseId()}"></td>
							<td th:text="${course.getCourseName()}"></td>
							<td th:text="${course.getCourseDuration()}"></td>
							<td th:text="${course.getCourseDescription()}"></td>
							<td
								th:text="${course.getInstructor().getInstructorFirstName()} + '' + ${course.getInstructor().getInstructorLastName()}">
							</td>

						</tr>
					</tbody>

				</table>
			</div>
		</div>

		<div class="card mt-3">
			<div class="card-header">Enroll in new courses :</div>

			<div class="card-body">
				<table class="table">
					<thead>

						<tr class="text-center">
							<th>Course Id</th>
							<th>Course Name</th>
							<th>Course Duration</th>
							<th>Course Description</th>
							<th>Instructor</th>


						</tr>
					<thead>
					<tbody>
						<tr class="text-center" th:each="course : ${otherCourses}">
							<td th:text="${course.getCourseId()}"></td>
							<td th:text="${course.getCourseName()}"></td>
							<td th:text="${course.getCourseDuration()}"></td>
							<td th:text="${course.getCourseDescription()}"></td>
							<td
								th:text="${course.getInstructor().getInstructorFirstName()} + '' + ${course.getInstructor().getInstructorLastName()}">
							</td>
							<td><a class="btn btn-info"
									th:href="@{/courses/enroll(courseId=${course.getCourseId()})}">
									Enroll In</a></td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>
	</div>

</body>
</html>